input,button{
    border:1px solid #999;
    line-height: 16px;
}
.changeForm div{
    color:red;
}

.attentionTips{
    color:red;
}

input.ng-invalid {
    border: 1px solid red;
 }
input.ng-valid {
    border: 1px solid #888;
 }

 select{
    border: 1px solid #555;
 }

 select.ng-invalid + label:after {
    content: '<-- 请选择版本!'
  }